.view {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e9edc9;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  gap: 30px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

#question {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.question-container {
  width: 28em;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

footer > div {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

footer > div > button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.Bonus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
  color: rgb(91, 228, 91);
  z-index: 1;
}

.Bonus.show {
  opacity: 1;
}

.Bonus.hidden {
  opacity: 0;
}
